# Part 1

Importing Pandas to create a dataframe

In [1]:
import pandas as pd

Pulling down the data from the URL.

The `read_html` function returns a list; we only want the first piece, which contains the dataframe.

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = df[0]
display(df.head())
print('The dataframe originally has {} rows and {} columns.'.format(df.shape[0], df.shape[1]))

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The dataframe originally has 180 rows and 3 columns.

Next, we drop the unassigned boroughs and then replace unassigned neighbourhoods with the Borough.

In [3]:
df = df[df['Borough'] != 'Not assigned']

df.Neighbourhood.replace('Not assigned', df.Borough, inplace = True)

display(df.head())
print('Now the dataframe has {} rows and {} columns.'.format(df.shape[0], df.shape[1]))

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Now the dataframe has 103 rows and 3 columns.

# Part 2

I used the CSV instead of the finicky API.

In [4]:
coordinates = pd.read_csv('toronto_neighborhood_coordinates.csv')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now, do a SQL-like left join of the original postal code & neighborhoods dataframe and the postal code & coordinates dataframe.

In [6]:
df_w_coords = df.merge(right = coordinates, how = 'left', on = 'Postal Code')
df_w_coords.sort_values('Postal Code', inplace = True)
df_w_coords.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
22,M1G,Scarborough,Woburn,43.770992,-79.216917
26,M1H,Scarborough,Cedarbrae,43.773136,-79.239476