Importing Pandas to create a dataframe

In [1]:
import pandas as pd

Pulling down the data from the URL.

The `read_html` function returns a list; we only want the first piece, which contains the dataframe.

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = df[0]
display(df.head())
print('The dataframe originally has {} rows and {} columns.'.format(df.shape[0], df.shape[1]))

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The dataframe originally has 180 rows and 3 columns.

Next, we drop the unassigned boroughs and then replace unassigned neighbourhoods with the Borough.

In [3]:
df = df[df['Borough'] != 'Not assigned']

df.Neighbourhood.replace('Not assigned', df.Borough, inplace = True)

display(df.head())
print('Now the dataframe has {} rows and {} columns.'.format(df.shape[0], df.shape[1]))

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Now the dataframe has 103 rows and 3 columns.